.workflow-designer--element-form{ ng_if: 'processDesigner.selectedElementHasType("EndElement")'}
  %md-tabs

    %md-tab{ label: 'General' }
      %form
        %md-input-container
          %label Name
          %input{ type: 'text', ng_model: 'pageCtrl.selected[0].name' }
    
    %md-tab{ label: 'Data Mapping' }
      %h3 Input Data Mapping
      %h3 Output Data Mapping
