.tab-content
  %md-card.workflow-metadata
    %md-card-content
      %form
        %md-input-container
          %label ID
          %input{ type: 'text', ng_model: 'pageCtrl.pageData.workflow.id', disabled: true }

        %md-input-container
          %label Name
          %input{ type: 'text', ng_model: 'pageCtrl.pageData.workflow.name', ng_disabled: '!pageCtrl.editing' }

  %md-card.workflow-versions.card
    %h3 Workflow Versions
    %md-virtual-repeat-container
      .workflow-version{ md_virtual_repeat: 'wfv in pageCtrl.workflow.workflow_versions', ng_click: 'appCtrl.tabManagement.openPage("WorkflowVersion", wfv.id)' }
        %span {{wfv.name}}
        %span {{wfv.id}}

.tab-top-bar
  = render partial: 'templates/shared/top_bar'
