.tab-content
  %md-card.workflows
    %md-data-table-toolbar
      %h2.md-title Workflows
      %button.md-button{ ng_click: "pageCtrl.createWorkflow()" } Add
      
    %md-data-table-container
      %table.md-primary{ "md-data-table" => true }
        %thead{ "md-table-head" => true }
          %td Name
          %td ID
          %td
        %tbody
          %tr{ "md-table-row" => true, ng_repeat: "wf in pageCtrl.workflows", ng_click: 'appCtrl.tabManagement.openPage("Workflow", wf.id)' }
            %td.md-table-cell {{wf.name}}
            %td.md-table-cell {{wf.id}}
            %td.md-table-cell
              %md-button{ ng_click: 'pageCtrl.deleteWorkflow(wf, $event)' } Delete

.tab-top-bar
  = render layout: 'templates/shared/top_bar' do
    %md-button.md-primary{ md_no_ink: true, ng_click: 'pageCtrl.reload()'} Refresh

