#content
  = render partial: 'templates/shared/top_bar'

  %md-content{ flex: true, md_scroll_y: true, layout: 'row' }

    %md-card
      %md-card-content
        %md-list
          %md-subheader.md-no-sticky
          %md-list-item.md-2-line{ ng_repeat: 'user in orgCtrl.users' }
            .md-list-item-text
              %h3
                %b {{user.last_name}},
                {{user.first_name}}
