
%h2 Hints for the modeling view:

%ul
  %li hold shift and click on the canvas to create a new activity
  %li hold shift and drag from an activity to another to create a control flow
  %li press alt and click on an activity to show the details menu bar
  %li press ctrl and click on an activity to toggle its selection

