%md-content
  %md-toolbar{md_scroll_shrink: true}
    .md-toolbar-tools
      %md-button{ui_sref: 'app.workflow_management.workflows'} Go Back
      %h2 {{workflowCtrl.workflow.name}}
      %md-button.md-raised{ui_sref: 'app.workflow_management.process_definition({workflow_id: wfCtrl.workflow.id})'} Edit process definition
      %span{flex: true}
