.tab-content
  .user-metadata.card
    TEST TEST
    %a{ ng_click: 'appCtrl.tabManagement.openPage("Workflow", 1)' } Workflow

.tab-top-bar
  = render layout: 'templates/shared/top_bar' do
    = render partial: 'templates/shared/default_actions'

