.tab-content
  %md-card.users
    %md-data-table-toolbar
      %h2.md-title Users
      %button.md-button{ ng_click: "pageCtrl.createUser()" } Add
      
    %md-data-table-container
      %table.md-primary{ "md-data-table" => true }
        %thead{ "md-table-head" => true }
          %td Name
          %td ID
          %td Role
          %td
        %tbody
          %tr{ "md-table-row" => true, ng_repeat: 'user in pageCtrl.users', ng_click: 'appCtrl.tabManagement.openPage("User", user.id)' }
            %td.md-table-cell {{user.first_name}} {{user.last_name}}
            %td.md-table-cell {{user.id}}
            %td.md-table-cell {{user.role.name}}
            %td.md-table-cell
              %md-button{ ng_click: 'pageCtrl.deleteUser(user, $event)' } Delete

.tab-top-bar
  = render partial: 'templates/shared/top_bar'
