.workflow-designer--details-bar{ ng_class: '{active: processDesigner.detailsBarVisible()}'}
  - [:start_element, :end_element].each do |process_element|
    = render partial: "templates/process_designer/process_element_forms/#{process_element}"
