%g.workflow-designer--paths
  %g.arrow
    %line{ ng_show: 'processDesigner.newControlFlowVisible()',
      ng_attr_x1: '{{processDesigner.newControlFlow.element.representation.x + 100}}',
      ng_attr_y1: '{{processDesigner.newControlFlow.element.representation.y + 50}}', 
      ng_attr_x2: '{{processDesigner.newControlFlow.xTo}}', 
      ng_attr_y2: '{{processDesigner.newControlFlow.yTo}}', 
      style: 'marker-start: url(#markerCircle); marker-end: url(#markerArrow);' }

  %g.arrow{ ng_repeat: 'cf in processDesigner.controlFlows' }
    %line{ control_flow: true, control_flow: 'cf' }

%g.workflow-designer--process-elements
  %g.element{ ng_repeat: 'element in processDesigner.processElements', id: '{{element.id}}',
    process_element: 'element',
    ng_class: '{selected: processDesigner.isSelected(element), dragging: processDesigner.isSelected(element) && processDesigner.dragging }',
    ng_attr_transform: 'translate({{element.representation.x}} {{element.representation.y}})',
    ng_mousedown: 'processDesigner.elementMousedown(element, $event)',
    ng_mouseup: 'processDesigner.elementMouseup(element, $event)' }
