%g.workflow-designer--paths
  %g.arrow{ ng_repeat: 'cf in processDesigner.controlFlows()' }
    / %line{"ng-attr-x1" => "{{x1}}", "ng-attr-y1" => "{{y1}}", "ng-attr-x2" => "{{x2}}", "ng-attr-y2" => "{{y2}}", "style" => "marker-end: url(#markerArrow);"}}

%g.workflow-designer--workflow-elements
  %g.element{ ng_repeat: 'element in processDesigner.workflowElements()', id: '{{element.id}}',
    ng_class: '{selected: processDesigner.isSelected(element), dragging: processDesigner.isSelected(element) && processDesigner.dragging }',
    ng_attr_transform: 'translate({{element.representation.x}} {{element.representation.y}})',
    ng_mousedown: 'processDesigner.elementMousedown(element, $event)' }
    %rect{ height: '100', width: '100' }
    %text {{element.element_data.name}}
    %g{ transform: 'translate(0, 50)' }
      %circle{ r: '20' }
      %text In Mapping
    %g{ transform: 'translate(100, 50)'  }
      %circle{ r: '20' }
      %text Out Mapping
