%md-sidenav.md-sidenav-left.md-whiteframe-z2{ layout: 'column', md_component_id: 'left', md_is_locked_open: "$mdMedia('gt-sm')" }
  %md-toolbar.md-tall
    %h1.md-toolbar-tools
      %a{ ui_sref: 'dashboard', ui_sref_opts: '{reload: true}' } WFMS Administration
  %md-list
    %md-list-item
      %md-button{ ui_sref: 'workflows' } Workflows
    %md-list-item
      %md-button{ ui_sref: 'organization.roles' } Organization
    %md-list-item
      %md-button{ ui_sref: 'infrastructure' } Infrastructure

.relative{ layout_fill: true, role: 'main' }
  #main-view-container(ui-view)
