.tab-content
  %md-card.workflow-bundle-metadata
    %md-card-content
      %form
        %md-input-container
          %label ID
          %input{ type: 'text', ng_model: 'pageCtrl.workflow.id', disabled: true }

        %md-input-container
          %label Name
          %input{ type: 'text', ng_model: 'pageCtrl.workflow.name', ng_disabled: '!pageCtrl.editing' }

  %md-card.workflow-bundle-worfklow.card
    %h3 Workflows
    %md-virtual-repeat-container
      .workflow-bundle-version{ md_virtual_repeat: 'wfv in pageCtrl.workflow_bundle.workflows', ng_click: 'appCtrl.tabManagement.openPage("Workflow", wfv.id)' }
        %span {{wfv.name}}
        %span {{wfv.id}}

.tab-top-bar
  = render layout: 'templates/shared/top_bar' do
    = render partial: 'templates/shared/default_actions'
