%main#tab-content-container{ ng_repeat: "tab in appCtrl.tabManagement.tabs()", ui_view: "{{tab.tabId}}", ng_show: '$state.is("{{tab.name}}")' }

%nav#sidebar
  #navigation
    .button{ ng_click: 'appCtrl.tabManagement.openPageInNewTab("Workflows")' } Workflows
    .button{ ng_click: 'appCtrl.tabManagement.openPageInNewTab("Users")' } Users
  #tab-menu
    .tab-menu-entry{ ng_repeat: 'tab in appCtrl.tabManagement.tabs()', tab_menu_entry: 'tab' }
  #loading-indicator
    %md-progress-circular.md-primary{ mg_mode: 'indeterminate', ng_show: 'appCtrl.tabManagement.isLoading()', md_diameter: '40' }
