%main#tab-content-container{ ng_repeat: "tab in appCtrl.tabManagement.tabs()", ui_view: "{{tab.tabId}}", ng_show: '$state.is("{{tab.name}}")' }

%nav#sidebar
  #navigation
  #tab-menu
    .tab-menu-entry{ ng_repeat: 'tab in appCtrl.tabManagement.tabs()', tab_menu_entry: 'tab' }
