%main#tab-content{ ui_view: 'tab'}
/ .tab{ ng_repeat: 'tab in appCtrl.tabManagement.tabs()', ng_show: '$state.is(tab.name)'}
/   .tab-top-bar{ ui_view: '{{tab.tabId}}_top_bar', ng_class: '{{tab.topBarType}}' }
/   .tab-content{ ui_view: '{{tab.tabId}}_content', ng_class: '{{tab.contentType}}' }

%nav#sidebar
  #navigation
  #tab-menu
    .tab-menu-entry{ ng_repeat: 'tab in appCtrl.tabManagement.tabs()', tab_menu_entry: 'tab' }
      {{tabId}}{{tab}}
