%md-button.md-primary.md-raised{ ng_click: 'pageCtrl.startEditing()', ng_hide: 'pageCtrl.editing' } Edit
%md-button.md-primary{ md_no_ink: true, ng_click: 'pageCtrl.stopEditing()', ng_show: 'pageCtrl.editing' } Cancel
%md-button.md-primary.md-raised{ ng_click: 'pageCtrl.save()', ng_show: 'pageCtrl.editing' } Save
%md-button.md-warn{ ng_click: 'pageCtrl.delete()' } Delete
