%g.workflow-designer--circle-menu{ ng_show: 'processDesigner.circleMenuVisible', ng_attr_transform: 'translate({{processDesigner.circleMenuPos.x}},{{processDesigner.circleMenuPos.y}}) ' }
  %circle{ r: '100', opacity: '0.5', fill: 'blue' }
