.tab-top-bar.workflow-designer--top-bar
  .top-bar-title.md-display-2
    {{pageCtrl.tab.title()}}

  .top-bar-actions
    %md-button.md-primary.md-raised{ ng_click: 'pageCtrl.save()', ng_disabled: 'pageCtrl.touched' } Save
    %md-button.md-warn{ ng_click: 'pageCtrl.delete()' } Delete
