.tab-content
  .workflow-metadata.card
    %form
      %md-input-container
        %label ID
        %input{ type: 'text', ng_model: 'pageCtrl.workflowVersion.id', disabled: true }

      %md-input-container
        %label Name
        %input{ type: 'text', ng_model: 'pageCtrl.workflowVersion.name', ng_disabled: '!pageCtrl.editing' }
        
    %md-button{ ng_click: 'appCtrl.tabManagement.openPage("ProcessDesigner", pageCtrl.workflowVersion.id)' } Edit Process

.tab-top-bar
  = render layout: 'templates/shared/top_bar' do
    = render partial: 'templates/shared/default_actions'
