%line{ ng_attr_x1: '{{controlFlow.xFrom()}}', ng_attr_y1: '{{controlFlow.yFrom()}}', ng_attr_x2: '{{controlFlow.xTo()}}', ng_attr_y2: '{{controlFlow.yTo()}}', style: 'marker-end: url(#markerArrow);' }
