.tab-content
  %md-card.workflow-bundles
    %h3 Workflow Bundles
    %md-virtual-repeat-container
      .workflow{ md_virtual_repeat: 'wfb in pageCtrl.pageData.workflow_bundles', ng_click: 'appCtrl.tabManagement.openPage("WorkflowBundle", wfb.id)' }
        %span {{wfb.name}}
        %span {{wfb.id}}

.tab-top-bar
  = render partial: 'templates/shared/top_bar'
